<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Horarios</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #674ea7"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CookiesChile</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/horarios"
              >Horarios</a
            >
            <a class="nav-link" href="/justificativos">Justificativos</a>
            <a class="nav-link" href="/horasExtras">Horas Extras</a>
            <a class="nav-link" href="/sueldos">Sueldos</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="d-flex justify-content-center p-5">
      <h1>Ingreso de horarios</h1>
    </div>

    <div class="container text-center">
      <form class="row g-3 needs-validation">
        <div class="mb-3">
					<label for="formFile" class="form-label">Archivo Operaciones</label>
          <input
            type="file"
            class="form-control"
            aria-label="file example"
						id="archivoOperaciones"
            required
          />
          <div class="invalid-feedback">Debe seleccionar el archivo HORAS.JSON</div>
        </div>
        <div class="mb-3">
					<label for="formFile" class="form-label">Archivo Administrativos</label>
          <input
            type="file"
            class="form-control"
            aria-label="file example"
						id="archivoAdministrativos"
            required
          />
          <div class="invalid-feedback">Debe seleccionar el archivo DATA.TXT</div>
        </div>

        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
      </form>
    </div>

  </body>
</html>
